# Arquivos de Configuração Local (Contém senhas e chaves)
.env
.env.local

# Binários compilados pelo Go (Executáveis)
/dist/
/bin/
payment-gateway
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs do sistema
*.log

# Pastas de ferramentas ou IDEs (VS Code / JetBrains)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
