PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=
CONTRACT_OWNER=
CONTRACT_OPERATOR=
CONTRACT_GUARDIANS=
TREASURY_ALLOWED_RECIPIENTS=

BSC_RPC_URL=
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
BSC_USDT_CONTRACT=0x55d398326f99059fF775485246999027B3197955
BSC_TREASURY_CONTRACT=

POLYGON_RPC_URL=https://polygon-rpc.com/
POLYGON_AMOY_RPC_URL=https://polygon-amoy-bor-rpc.publicnode.com
POLYGON_USDT_CONTRACT=0xc2132D05D31c914a87C6611C10748AEb04B58e8F
POLYGON_USDC_CONTRACT=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
POLYGON_TREASURY_CONTRACT=

TREASURY_TOKEN_CONTRACT=
TREASURY_TOKEN_SYMBOL=
TREASURY_TOKEN_DECIMALS=
TREASURY_MAX_TRANSFER_USDT=10
TREASURY_DAILY_LIMIT_USDT=100
TREASURY_MAX_TRANSFER=
TREASURY_DAILY_LIMIT=
